@font-face {
  font-family: 'MyFont';
  src: url('../fonts/Raleway-Regular.ttf');
  font-weight: 600;
  font-style: normal;
}

.display-none {
  display: none;
}

.display-inline {
  display: inline;
}

/* startpage */
