@font-face {
  font-family: 'MyFont';
  src: url('../fonts/Raleway-Medium.ttf');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'Myfont';
}

*,
*:focus,
*:hover {
  outline: none;
}

.display-none {
  display: none;
}

.display-inline {
  display: inline;
}

.display-block {
  display: block;
}

.low-prio {
  background-color: #8A90E2;
}

.mid-prio {
  background-color: #4A53D2;
}

.high-prio {
  background-color: #2C34AF;
}

/* startpage */

#startpage {
  color: black;
  padding-top: 30px;
  padding-bottom: 40px;
}

#navigation-button {
  position: absolute;
  top: 6px;
  left: 10px;
  font-size: 30px;
  background-color: transparent;
  border: none;
}

.header {
  font-size: 60px;
  color: #D65C67;
}

h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 0;
}

.form-container {
  width: 280px;
}

.form-container > *{
  margin-bottom: 7px;
}

.form-input {
  width: 280px;
  height: 40px;
  font-size: 22px;
  text-align: center;
  background: none;
  color: black;
  border: 2px #D65C67 solid;
  border-radius: 20px;
}

.form-input::placeholder {
  color: rgb(156, 156, 156);
}

#priorityInput,
#projectInput {
  padding-left: 10px;
  padding-right: 10px;
}

/* project */

/* todos-page */

.prio-explanation-circles > div {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

.prio-explanation-circles > div > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#todos-page {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
  grid-gap: 12px;
  color: white;
}

.single-todo-item {
  border-radius: 25px;
  padding: 10px 15px 18px 15px;
}

.single-todo-item p {
  margin-bottom: 0;
}

.single-todo-item > button {
  position: relative;
  color: white;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
  transition: all .2s ease-in-out;
  margin-top: 15px;
}

.single-todo-item > button:focus,
.single-todo-item > button:hover {
  outline: none;
  transform: scale(1.1);
}

.single-todo-item > button > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.single-todo-item-title {
  font-size: 24px;
}

#show-details-button {
  margin-right: 8px;
}

.itemDescriptionContainer {
  word-wrap: break-word;
}

#edit-button {
  position: relative;
  color: white;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
  margin-right: 8px;
  transition: all .2s ease-in-out;
}

#edit-button:focus,
#edit-button:hover {
  outline: none;
  transform: scale(1.1);
}

#edit-button > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

