@font-face {
  font-family: 'MyFont';
  src: url('../fonts/Raleway-Regular.ttf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  font-family: 'MyFont';
}

#project-list {
  min-height: 100px;
  border: 1px solid red;
}